html, body{
  background-color: lightyellow;
  font-family: 'Quicksand', sans-serif;
}
h1{
  font-family: 'Roboto Mono', monospace;
  background-color: lightblue;}
h2{
  background-color: violet;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.borderexample {
 border:10px dashed red;
 padding: 2em;
}

#duck {width: 10%}
